.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bookStyle {
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    background-color: #f9f9f9;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

}

.bookStyle:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2),
        0 17px 50px rgba(0, 0, 0, 0.19);

}

img {
    width: 15rem;
    border-radius: 10px;
}