.disponibleBoton{
    border-radius: 1rem;
    background-color: green;
    padding: 1rem;
    color:black;
    cursor: pointer;
    font-weight: bolder;
    font-size: 140%;
}

.disponibleBoton:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2),
        0 17px 50px rgba(0, 0, 0, 0.19);

}

.avisarBoton{
    border-radius: 1rem;
    background-color: rgb(255, 128, 0);
    padding: 1rem;
    color:black;
    cursor: pointer;
    font-weight: bolder;
    font-size: 140%;
}


.avisarBoton:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2),
        0 17px 50px rgba(0, 0, 0, 0.19);

}

.containerBotones{
    display: flex;
    justify-content: space-around;
}




